<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="./css/style.css" rel="stylesheet">
    <title>G.O.A.T CAR</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="./images/GOAT CAR logo.png" alt="logo image" width="75" height="75"
                    class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="justify-content-between  d-flex flex-column flex-lg-row">
                    <div class="navbar-nav nav-selection" >
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="/auction">AUCTION</a>
                        <a class="nav-link" href="/forum">FORUM</a>
                        <a class="nav-link" href="#auction">MERCHANDISE</a>
                        <a class="nav-link" href="#contactUs">GALLERY</a>
                        <div class="m-l-100">
                            {{#if logged_in}}
                            <a class="nav-link" href="/profile">PROFILE</a>
                            <button class="no-button" id="logout">LOGOUT</button>
                            {{else}}
                            <a class="nav-link" href="/login">LOGIN</a>
                            {{/if}}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </nav>
    <div class="contianer space-nav">
    </div>
    <main>
        {{{ body }}}
    </main>
    <footer class="bg-light text-center">
        2022 TEAM FIVE GOAT CARS
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="js/modal.js"></script>
    <script src="js/fbDummy.js"></script>
</body>

</html>