<div class="forum-background min-height">
            {{> forum-nav}}
            <div class="forum-category-name text-center free-talk">
                <h1>Free Talk</h1>
            </div>
            <main class="main-page">
                <div class="forum-box container">
                    <table class="table table-light">
                        <colgroup span="2"></colgroup>
                        <colgroup span="4"></colgroup>
                        <thead>
                            <tr>
                                <th scope="col">Free Talk</th>
                                <th scope="col" class="forum-sort">Sort by: Recent Activity</th>
                                <th colspan="4" scope="colgroup">
                                    <div class="text-right m-b-15">
                                        <a href="/forum/new-post">
                                        <button type="button" class="btn btn-primary btn-create">Create New Post</button>
                                        </a>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">msg.</th>
                                <th scope="col">likes</th>
                                <th scope="col">views</th>
                                <th scope="col">Recent Activity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" scope="col">
                                    <div>
                                        Testing
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                        test1    
                                        </div>
                                        <div class="col">
                                        test  2 
                                        </div>
                                    </div>
                                </td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>Date</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </main>
        </div>