<div class="forum-background min-height">
            {{> forum-nav}}
            <div class="forum-category-name text-center">
                <h1>My Posts</h1>
            </div>
            <main class="main-page">
                <div class="forum-box container">
                    <table class="table table-light">
                        <colgroup span="2"></colgroup>
                        <colgroup span="3"></colgroup>
                        <thead>
                            <tr>
                                <th colspan="2" scope="colgroup" class="forum-sort">Sort by: Recent Activity</th>
                                <th colspan="3" scope="colgroup">
                                    <div class="text-right m-b-15">
                                        <a href="/forum/new-post">
                                            <button type="button" class="btn btn-primary btn-create">Create New Post</button>
                                        </a>
                                    </div>
                                </th>
                            </tr>
                            <tr>    
                                <th scope="col"></th>
                                <th scope="col"><i class="bi bi-chat-dots"></i></th>
                                <th scope="col"><i class="bi bi-heart-fill"></i></th>
                                <th scope="col"><i class="bi bi-eye"></i></th>
                                <th scope="col">Date Posted</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each forums as |forum| }}
                            <tr>
                                <td>
                                    <div>
                                        {{forum.title}}
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                        {{forum.user.username}}
                                        </div>
                                        <div class="col">
                                        {{forum.category}}
                                        </div>
                                    </div>
                                </td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>{{format_date forum.date_created}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </main>
        </div>