<div class="custom-container">
            <img src="./images/Home-main-wide2.png" class="main-image" alt="main homepage background image">
            <img src="./images/G.O.A.T.png" alt="logo" class="main-logo">
            <div class="text-white quote-box">
                <h2 class="custom-font-size">"Without CLASSICS</h2>
                <h3 class="custom-font-size">LIFE would have no peace"</h3>
            </div>
        </div>
        <div class="bg-light min-height row" id="login">
            {{!-- <div class="col-md-6 text-center position-relative">
                <div class="position-absolute top-50 start-50 translate-middle">
                    <h2> Login </h2>
                    <form class="form login-form">
                        <div class="form-group">
                            <input class="form-input form-control" type="text" id="email-login" placeholder="placeholder@email.com" />
                        </div>
                        <div class="form-group">
                            <input class="form-input form-control" type="password" id="password-login" placeholder="password:">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">login</button>
                        </div>
                    </form>
                </div>  
            </div> --}}
            <div class="col text-center position-relative">
                <div class="position-absolute top-50 start-50 translate-middle">
                    <h2>Signup</h2>

                    <form class="form signup-form">
                        <div class="form-group">
                            <input class="form-input form-control" type="text" id="name-signup" placeholder="name:" />
                        </div>
                        <div class="form-group">
                            <input class="form-input form-control" type="text" id="email-signup" placeholder="placeholder@email.com"/>
                        </div>
                        <div class = "form-group">
                            <input class="form-input form-control" type="password" id="password-signup" placeholder="password:" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">signup</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img src="./images/gallery/1.png" class="d-block w-100" alt="gallery images">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="./images/gallery/2.png" class="d-block w-100" alt="gallery images">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="./images/gallery/3.png" class="d-block w-100" alt="gallery images">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="./images/gallery/4.png" class="d-block w-100" alt="gallery images">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="./images/gallery/5.png" class="d-block w-100" alt="gallery images">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="./images/gallery/6.png" class="d-block w-100" alt="gallery images">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="contianer-fluid bg-light min-height text-center" id="features">
            <h1>GALLERY</h1>
            <div class="row">
                <div class="col-md-6">
                    <h2>Gallery</h2>
                </div>
                <div class="col-md-6">
                    <h2>Forum</h2>
                </div>
            </div>
        </div>
        <div id="auction" class="container-fluid min-height text-center text-white">
            <h1>AUCTION</h1>
        </div>
        <div id="testimonial" class="container-fluid min-height text-center bg-light">
            <h1>FORUM</h1>
        </div>
        <div id="contactUs" class="container-fluid min-height text-center text-white">
            <h1>MERCHANDISE</h1>
        </div>