<div class="login-background">
    {{> signup}}
    <div class="login-card">
        <form class="login100-form">
            <span class="login100-form-title p-b-49">
                Login
            </span>

            <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                <span class="label-input100">Username</span>
                <input class="input100" type="text" id="email-login" name="username" placeholder="Type your username">
                <span class="focus-input100" data-symbol="&#xf206;"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Password is required">
                <span class="label-input100">Password</span>
                <input class="input100" type="password" id="password-login" name="pass"
                    placeholder="Type your password">
                <span class="focus-input100" data-symbol="&#xf190;"></span>
            </div>

            <div class="p-t-15 p-l-10 p-b-31">
                <a href="#">
                    Forgot password?
                </a>
            </div>

            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" type="submit">
                        Login
                    </button>
                </div>
            </div>
            <div class="txt1 text-center p-b-20 p-t-20">
                <span>
                    Or Sign Up Using
                </span>
            </div>
            <div class="row">
                <div class="col">


                    <div class="flex-c-m p-l-30">
                        <a href="#" class="login100-social-item bg1">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="login100-social-item bg2">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="#" class="login100-social-item bg3">
                            <i class="fa fa-google"></i>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="flex-col-c">
                        <a href="#" class="txt2 p-t-15 p-r-30" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Sign Up
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="../public/js/login.js"></script>