<body>
 <form class="signup-form mx-1 mx-md-4">
    <h2 id="merch-buy-header">Credit Card Payment Form</h2>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <div class="form-outline flex-fill mb-0">
                                    <label class="form-label" for="form3Example1c"></label>
                                    <input type="text" id="merch-username" class="form-control" placeholder="Your First Name" />
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <div class="form-outline flex-fill mb-0">
                                    <label class="form-label" for="form3Example1c"></label>
                                    <input type="text" id="merch-lastName" class="form-control" placeholder="Your Last Name" />
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <div class="form-outline flex-fill mb-0">
                                    <label class="form-label" for="form3Example1c"></label>
                                    <input type="text" id="merch-credit-card" class="form-control" placeholder="Credit Card - DON'T ACTUALLY PUT YOUR INFO HERE - DEMO ONLY!" />
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <div class="form-outline flex-fill mb-0">
                                    <label class="form-label" for="form3Example3c"></label>
                                    <input type="email" id="merch-email" class="form-control" placeholder="Your Email" />
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <div class="form-outline flex-fill mb-0">
                                    <label class="form-label" for="for3Example4c"></label>
                                    <input type="password" id="merch-billing-address" class="form-control" placeholder="Billing Address"/>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button type="submit" class="btn btn-primary btn-lg" id="buy-button">Submit Payment</button>
                            </div>

                        </form>
    </body>