/* General Utility CSS */
.hide {
    display: none;
}
/* Whole Body */
body {
    background-color: #222831;
    overflow-x: hidden;
}
footer {
    padding-top: 10px;
    min-height: 50px;
}
.main-page {
   padding-bottom: 200px; 
}

/* Navbar CSS customize */
.navbar {
    font-size: 120%;
    padding-left: 50px;
    background-color: #EEEEEE;
}

.nav-selection {
    padding-left: 50px;
}
.nav-selection a {
    margin-left: 10px;
    margin-right: 10px;
}
.space-nav {
    min-height:100px;
}

/* main page */

.custom-container {
    position: relative;
    text-align: center;
}
.main-logo {
    width: 20%;
    position: absolute;
    top: 15%;
    left: 15%;
}
.main-image {
     width:100%;
}
.text-section-image {
    position: absolute;
    top: 15%;
    left: 15%;
    display: flex;
}
.quote-box {
    position: absolute;
    top: 10%;
    right: 25%;
}
.custom-font-size {
    font-size: 3vh;
}


/* Login Section in Main */
.min-height {
    min-height: 70vh;
}
.form {
    margin-top:30px;
}
.form-group {
    margin: 20px;
}
.btn-primary {
    width: 100%;
}


/* Login Page */
.login-background {
    background-image: url("../images/background-login.png");
    min-height:85vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-card {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 10px 10px 10px;
}

/* FORUM PAGE */
.forum-background {
    background-color: #ECf0FE
}
.white-background {
    background-color: #ECf0FE
}
.forum-nav {
    background-color: #ECf0FE;
}
.temp-color {
    background: lightpink;
}
.temp-color2 {
    background: lightcoral;
}
.forum-category-name h1 {
    padding-top:3%;
    padding-bottom:3%;
    font-family: 'Permanent Marker';
    font-size: 4rem;
}
.forum-button-width {
    width: 15%;
}
.forum-btn {
    width: 100%;
}
.btn-create {
    width:40%;
}
.car-review {
    background-image: url('../images/categories-banner/car-review.png');
}
.ask-price {
    background-image: url('../images/categories-banner/ask-price.png');
}
.maintenance {
    background-image: url('../images/categories-banner/maintenance.png');
}
.free-talk {
    background-image: url('../images/categories-banner/free-talk.png');
}
.post-user {
    margin-left: 30px;
}
.forum-box {
    padding: 20px;
    padding-left: 30px;
}
.post-title {
    margin: 30px 0px 10px 0px;
}
.post-category {
    margin: 10px 0px 30px 0px;
}
.post-category h5{
    font-size: 1rem;
}
.post-description {
    margin: 30px 0px 70px 0px;
}
.post-like {
    width: 120px;
    
}
.post-comment-nav {
    margin-bottom: 30px;
}
.comment-box {
    border: solid 1px black;
    min-height: 120px;
    position: relative;
    margin-top: 20px;
}
.btn-publish {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 150px;
    margin: 10px;
}
.comment-description {
    margin: 10px;
}

.comment-username {
    padding-top: 5%;
    padding-left:5%;
}
.comment-textoutput {
    padding:30px;
}

/* Profile Page */
.profile-image {
    width: 100%;
    height: auto;
}
.profile-image img {
    width: 150px;
    height: auto;
}
.btn-image {
    padding: 15px 70px 15px 70px;
}
.button-13 {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
    margin:20px;
    font-size: 1.2rem;
  }
  
  .button-13:hover {
    background-color: #f7fafa;
  }
  
  .button-13:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }
  .profile-information {
    padding: 30px 20px 20px 20px;
  }
  .profile-information h3 {
    font-size: 1.2rem;
    margin: 15px;
  }
  .profile-btn-edit {
    width: 200px;
  }

  /* Merchandise */
.merchandise-container h2 {
    color: white;
}
.merchandise-container p {
    color: white;
}

/* Reponsive */

@media (max-width: 414px) {
    /* .login-card {
      padding-left: 15px;
      padding-right: 15px;
    } */
    .forum-sort {
        font-size: 0.8rem;
        
    }
    .btn-create {
        font-size: 0.7rem;
        margin-left: -20px;
        margin-bottom: -20px;
    }
    /* .forum-box {
        background-color: red;
    } */
    .forum-box td div{
        font-size: 0.7rem;
    }
    .forum-box tr td{
        font-size: 0.9rem;
    }
    .forum-box th {
        font-size: 0.8rem;
    }
    .custom-font-size {
        font-size: 0.5rem;
    }
  } 

@media (max-width: 576px) {
    .login-card {
      padding-left: 15px;
      padding-right: 15px;
    }
    .forum-sort {
        width: 45%;
    }
    .btn-create {
        width: 70%;
        margin-left: -20px;
    }
    /* .forum-box {
        background-color: red;
    } */
    .forum-box td{
        font-size: 0.9rem;
    }
    .custom-font-size {
        font-size: 0.6em;
    }
  } 

  @media (max-width: 912px) {
    /* .login-card {
      padding-left: 15px;
      padding-right: 15px;
    } */
    /* .forum-sort {
        width: 45%;
    } */
    .btn-create {
        width: 70%;
        margin-left: -20px;
    }
    /* .forum-box {
        background-color: red;
    } */
    /* .forum-box td{
        font-size: 0.9rem;
    } */
    .forum-button-width {
        width: 100%;
    }
    .custom-font-size {
        font-size: 0.8em;
    }
  } 
  @media (max-width: 1200px) {
    /* .login-card {
      padding-left: 15px;
      padding-right: 15px;
    } */
    /* .forum-sort {
        width: 45%;
    } */
    .btn-create {
        width: 50%;
        margin-left: -20px;
    }
    /* .forum-box {
        background-color: red;
    } */
    /* .forum-box td{
        font-size: 0.9rem;
    } */
  } 