/* Whole Body */
body {
    background-color: #222831;
}

/* Navbar CSS customize */
.navbar {
    font-size: 120%;
    padding-left: 50px;
    background-color: #EEEEEE;
}

.nav-selection {
    margin-left: 50px;
}
.nav-selection a {
    margin-left: 10px;
    margin-right: 10px;
}

/* main page */
.custom-container {
    position: relative;
    text-align: center;
}
.main-logo {
    width: 20%;
    position: absolute;
    top: 15%;
    left: 15%;
}
.main-image {
     width:100%;
}
.text-section-image {
    position: absolute;
    top: 15%;
    left: 15%;
    display: flex;
}
.quote-box {
    position: absolute;
    top: 10%;
    right: 25%;
}
.custom-font-size {
    font-size: 3vh;
}